# Python cache files
__pycache__/
*.pyc

# Virtual environment files
.venv/
env/
venv/

# Environment variable files


# IDE files
.idea/
.vscode/
*.swp

# Log files
*.log

# Database files


/static/vendor/

